@model EventEditViewModel;

@{
    ViewData["Title"] = "Update Event";
}

<form asp-controller="Event" asp-action="Edit">
    <div class="d-flex align-items-center mb-2">
        <h4 class="me-auto mb-0">Update Event</h4>
        <a class="btn btn-outline-primary btn-sm m-1" role="button" asp-controller="Event" asp-action="Index">Back</a>
        <input type="submit" value="Update" class="btn btn-primary btn-sm m-1" />
    </div>

    <div class="card">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <input asp-for="Event.Id" type="hidden" />

            <div class="row mb-3 g-3 align-items-center">
                <div class="col-sm-2">
                    <label asp-for="Event.Description" class="col-form-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="Event.Description" class="form-control" />
                </div>
                <div class="col-auto">
                    <span asp-validation-for="Event.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3 g-3 align-items-center">
                <div class="col-sm-2">
                    <label asp-for="Event.StartDateTime" class="col-form-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="Event.StartDateTime" class="form-control" />
                </div>
                <div class="col-auto">
                    <span asp-validation-for="Event.StartDateTime" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3 g-3 align-items-center">
                <div class="col-sm-2">
                    <label asp-for="Event.EndDateTime" class="col-form-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="Event.EndDateTime" class="form-control" />
                </div>
                <div class="col-auto">
                    <span asp-validation-for="Event.EndDateTime" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3 g-3 align-items-center">
                <div class="col-sm-2">
                    <label asp-for="Event.MaximumCapacity" class="col-form-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="Event.MaximumCapacity" class="form-control" placeholder="Optional" />
                </div>
                <div class="col-auto">
                    <span asp-validation-for="Event.MaximumCapacity" class="text-danger"></span>
                </div>
            </div>

            <div class="card mb-3 user-select-none">
                <div class="card-header">Employees Attending</div>
                <div class="card-body">
                    @if (Model.Employees?.Count > 0)
					{
                        @foreach (var employee in Model.Employees)
                        {
                            <div class="form-check">
                                <input
                                    type="checkbox" 
                                    asp-for="@Model.EmployeeAttendance[@employee.Id]"
                                    value="@true"/>
                                <label asp-for="@Model.EmployeeAttendance[@employee.Id]">@employee.FirstName @employee.LastName</label>
                            </div>
                        }
					}
					else
					{
						<span>No employees</span>
					}
                </div>
            </div>

        </div>
    </div>
</form>